header{
    background-color: #4EA0FF;
    background-image: url(img/pattern.png);
}

#logo{
    width: 250px;
    height: 200px;
}

h1{
    font-size: 35px;
}

.gray{
    color: #808080;
}

#data{
    font-size: 10px;
}

a{
    text-decoration: none;
}

thead{
    background-color: #20A9E5;
    color: white;
}

.azure{
    background-color: #B1E5F2;
}

#size{
    width: 60%;
}